html,body{
	background-color:white;
	font-family:Verdana;
	width:100%;
  height:100%;
	margin:20px;
	border:0px;
}

div{
	width:100%;
  height:1500px;
	background-color:white;
}

.shape{
   fill:red;
}

.edge{
   stroke:black;
}

.edge-high{
   stroke:red;
   stroke-width:2px;
}

.participant{
   fill:lightgray;
}

.lane{
   fill:whitesmoke;
}

.startEvent, .boundaryEvent{
   fill:white;
}

.startEvent-high, .boundaryEvent-high{
   fill:white;
   stroke:red;
   stroke-width:2px; 
}

.endEvent{
   stroke-width:3; 
}
    
.endEvent-high{
   stroke:red;
   stroke-width:3; 
}

.serviceTask, .task, .userTask, .subProcess{
   fill:lightyellow;
}

.serviceTask-high, .task-high, .userTask-high, .subProcess-high{
   fill:lightyellow;
   stroke:red;
   stroke-width:2px; 
}

.sendTask, .receiveTask{
   fill:lightblue;
}

.sendTask-high, .receiveTask-high{
   fill:lightblue;
   stroke:red;
   stroke-width:2px; 
}

.textAnnotation{
   fill:white;
   stroke:white;
}

.dataStoreReference{
   fill:gray;
}

.exclusiveGateway{
   fill:white;
}
